.swiper-container {
  height: 300px;
  width: 100%;
}

.swiper-slide {
  border-radius: 4px;
  font-size: 16px;
}

.swiper-button-prev, .swiper-button-next {
  color: white;
}

.pelicula-descripcion {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  padding: 5px 30px;
  position: absolute;
  width: 100%;
}

h3 {
  font-size: 25px;
}
