<!-- Contenedor slider -->
<div class="swiper-container">
  <!-- Wrapper adicional -->
  <div class="swiper-wrapper">
      <!-- Slides -->
      <div *ngFor="let pelicula of peliculas" class="swiper-slide"
         [ngStyle]="{
           'background-size': 'cover',
           'background-image': 'url(https://image.tmdb.org/t/p/w500'+ pelicula.backdrop_path+')'
         }">

        <div class="pelicula-descripcion">
          <h3>{{ pelicula.title }}</h3>
          <p>
            {{ pelicula.overview | slice:0:140 }}...  <!-- Pipe predefinido de ang -->
          </p>
        </div>


      </div>

  </div>

  <!-- Botones navegación -->
  <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
  <div (click)="onSlideNext()" class="swiper-button-next"></div>
</div>
