<!-- Poster, descripción, rating -->
<div class="row" *ngIf="pelicula">
  <div class="col-md-6">

    <img [src]="pelicula.poster_path | poster"
         [alt]="pelicula.title"
         class="img-thumbnail">
  </div>

  <div class="col-md-6" >
    <h3> {{ pelicula.title }} </h3>
    <h4> {{ pelicula.genres[0].name }}, {{ pelicula.genres[1].name }}</h4>

    <div class="row">
      <div class="col">
        <star-rating [value]="pelicula.vote_average"
                  totalstars="10"
                  checkedcolor="yellow"
                  uncheckedcolor="grey"
                  size="16px"
                  readonly="false"></star-rating>
      </div>
      <div class="col text-white">
            {{ pelicula.vote_average }}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-white">
        {{ pelicula.overview }}
      </div>

    </div>

    <div class="row mt-5">
      <div class="col">
        <button class="btn btn-light mr-3"
                id="miclase"
                (click)="goBack()">
                <i class="fas fa-chevron-circle-left"></i>
                VOLVER
        </button>
        <app-modal></app-modal>
      </div>
    </div>
  </div>
</div>
<!-- Slider con actores -->
<div class="row mt-5" *ngIf="cast.length > 0">
  <div class="col">
      <app-cast-slider [cast]="cast">
      </app-cast-slider>
  </div>
</div>

