<button id="modalActivate"
        type="button"
        class="btn btn-light miclase"
        data-toggle="modal"
        data-target="#exampleModalPreview"><i class="fas fa-play"> </i>
        VER
</button>
<!-- Modal -->
<div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
<div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
  <div class="modal-content-full-width modal-content ">
      <div class=" modal-header-full-width   modal-header text-center">
        <app-video></app-video>
          <button type="button" class="close " data-dismiss="modal" aria-label="Close">
              <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
          </button>
      </div>
  </div>
</div>
</div>
